body {

    margin: 100px;
}

.image-rotate {

    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(10px);
    transition-property: transform;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
    transition-timing-function: ease;
   

}

.image-rotate:hover {
    transform: rotate(720deg);
    filter: blur(0);
}