body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;

}

.red {
    background-color: lightcoral;
    grid-row: span 1;
    grid-column: 1 / 5;
}

.green {
    background-color: lightgreen;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    gap: 20px;

}