body {

    margin: 1em 10% 0 10%;
    background: url(images/background-image.jpg);
    background-position: cover;

}

h1 {

    text-align: center;
    font-size: 1.5 em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a {

    text-align: center;
    text-decoration: none;
    background-color: grey;
    color: white;
    padding: 10px 10px;
    border-radius: 7px;


}

nav li {
    text-align: center;
    display: inline;
    margin-left: 20px;
    margin: 10px 10px;
}

nav ul {

    text-align: center;

}

nav a:hover {

    background-color: darkgrey;
    color: white;
    cursor: pointer;

}

.main {

    text-align: center;
}

img {

    float: left;
    margin: 10px;

}

p {
    text-align: justify;
    line-height: 1.8;

}

.first-section {

    background-color: rgba(128, 128, 128, 0.76);
    color: white;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;


}

.first-section:hover {

    background-color: #544f4f;

}


.second-section {
    background-color: #e08079;
    color: white;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
}

.second-section ul {
    list-style: none;
    padding-left: 20px;
}

.second-section ul li::before {
    content: "•";
    color: white;
    margin-right: 5px;

}

.second-section:hover {

    background-color: palevioletred;
}

.first-li {

    background-color: #70423f;
    color: white;
    border: 2px;
    border-radius: 8px;
    padding: 10px;



}

.second-li {

    background-color: #70423f;
    color: white;
    border: 2px;
    border-radius: 8px;
    padding: 10px;



}

.third-li {

    background-color: #70423f;
    color: white;
    border: 2px;
    border-radius: 8px;
    padding: 10px;




}

.third-section {
    background-color: #a7e079;
    color: white;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;

}

.third-section:hover {

    background-color: darkgreen;
}

table.style {
    border-collapse: collapse;
    width: 100%;
}

table.style tr,th {
    border: 1px solid #ddd;
    text-align: center;
}


tr,th.style {
    padding: 5px;
}



.first-row {

    background-color: darkgreen;
}

.second-row {
    background-color: darkgreen;
}

tr:nth-child(2) th:nth-child(2),
tr:nth-child(2) th:nth-child(3),
tr:nth-child(2) th:nth-child(4),
tr:nth-child(2) th:nth-child(5),
tr:nth-child(2) th:nth-child(6) {
    text-decoration: underline;
}


.fourth-section {
    background-color: pink;
    color: white;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;


}

.fourth-section:hover {

    background-color: #e4275f;
}

ol {

    line-height: 2.0;
    font-family: Arial, Helvetica, sans-serif;
}

a.read-more {
    position: relative;
    background-color: #e08079;
    color: #fff;
    text-decoration: none;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 5px;
}


a.read-more:hover {
    background-color: #ff7b72;
}

footer p {
    background-color: #464240;
    color: white;
    text-align: center;
    margin: 0;


}

.project-one {

    background-color: rgba(150, 211, 193, 0.5);
    color: black;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
    text-align: center;
}

.images {


    color: #414b4d;
    text-align: center;
    display: inline;
    border: none;

}

.image-one {
    border: 2px solid #2e2525;
    border-radius: 10px;

}



.image-two {
    border: 2px solid #2e2525;
    border-radius: 10px;

}



figcaption:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;

}

.first-project {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: Arial, sans-serif;
}


.first-project li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: block;
    text-align: left;
    line-height: 1.8;

}


.first-project li {
    font-size: 16px;
}


.first-project li:nth-child(even) {
    background-color: #e0e0e0;
}


.first-project li:hover {
    background-color: #d3d3d3;
}


p {
    padding: 2px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


iframe {

    margin-right: 250px;
}

a.back-button {

    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;



}

a.back-button:hover {

    background-color: #0056b3;
    text-decoration: underline;

}


.project-two {

    background-color: #95c7cf;
    color: black;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
    text-align: center;
}

.second-project {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: Arial, sans-serif;
}


.second-project li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #7c8387;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: block;
    text-align: left;
    line-height: 1.8;

}


.second-project li {
    font-size: 16px;
}


.second-project li:nth-child(even) {
    background-color: #9fd0ed;
}


.second-project li:hover {
    background-color: #d3d3d3;
}


.project-three {

    background-color: #3189bd;
    color: black;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
    text-align: center;
}


.third-project {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: Arial, sans-serif;
}


.third-project li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #c5c7c9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: block;
    text-align: left;
    line-height: 1.8;

}


.third-project li {
    font-size: 16px;
}


.third-project li:nth-child(even) {
    background-color: #24282b;
    color: white;
}


.third-project li:hover {
    background-color: #694f4f;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;

}


textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;

}

input[type=submit] {

    background-color: #928f8f;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}

input[type=submit]:hover {

    background-color: #24282b;
}

input[type=email]:hover {

    background-color: #928f8f;


}

.facebook {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.facebook:hover {
    opacity: 0.7;
}



.gmail {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.gmail:hover {
    opacity: 0.7;
}

p.back {
    font-size: 22px;
    color: #333333;
    text-align: left;
    margin-top: 150px;
    line-height: 1.0;
    font-weight: lighter;
}

.home {

    color: #108cbd;
    font-size: 18px;

}

h2 {

    background-color: #108cbd;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 15%;
    height: 15%;
    text-align: center;
    padding: 5px 0px 5px 0px;
    cursor: pointer;

}

h2:hover {

    text-decoration: underline;

}