form {
    max-width: 300px;
    }

input
 {

    width: 100%;
    margin-top:20px;
    padding: 8px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;

}

.animated-text {
    color: lightslategray;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

input:focus+.animated-text {
    opacity: 1;
    transform: translateY(0);
}

.loading {
    display: flex;
    align-items: end;
    justify-content: end;
   
}

.loading img {
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.submit{

    background-color: blue;
    color: white;
    cursor: pointer;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}