p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    width: 500px;
    line-height: 1.2;
}

 .f-letter {

 
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    text-decoration: underline red ;
    text-transform: uppercase;
	letter-spacing: 5px;
    
 }
 .word {
     
      font-size: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow';
      text-transform: uppercase;
      font-weight: bold;
  
 }