table {

    width: 50%;
    border-collapse: collapse;
    

}

th,td {

    padding: 6px;
    text-align: left;
    border-left: none;
    border-right: none;

}

tr:nth-child(odd) {


    background-color: rgb(54, 189, 54);
    color: white;
    font-size: 22px;

}

tr:nth-child(2n) {

    background-color: darkgreen;
    color: white;
    font-size: 22px;
}

tr.first-row {

    color: black;
}

tr{

    border-bottom: 1px solid white;
}